@font-face {
  font-family: 'Avada-Fitness';
  src:
    url('fonts/Avada-Fitness.ttf') format('truetype'),
    url('fonts/Avada-Fitness.woff') format('woff'),
    url('fonts/Avada-Fitness.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fitness-"], [class*=" fitness-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Avada-Fitness' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fitness-play-2:before {
  content: "\e90b";
}
.fitness-Play:before {
  content: "\e90a";
}
.fitness-fruit:before {
  content: "\e906";
}
.fitness-waisttrim:before {
  content: "\e902";
}
.fitness-heartrate:before {
  content: "\e903";
}
.fitness-weight:before {
  content: "\e909";
}
.fitness-separator:before {
  content: "\e900";
}
.fitness-apple:before {
  content: "\e901";
}
.fitness-phone:before {
  content: "\e904";
}
.fitness-scale:before {
  content: "\e905";
}
.fitness-waisttrim2:before {
  content: "\e907";
}
.fitness-watch:before {
  content: "\e908";
}
